html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  background-color: grey;
}

.filler {
  flex: 1 1;
  width: 100%;
  height: 100%;
}
